html{
    height: 100%;
}
p{
    font-family: 'Montserrat', serif;
}

.add{
    width: 20px;
    height: 20px;   
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2vw;
    border-radius: 15px;
    transition: 0.3s;
}
.add:hover{
    background-color: #888888;
    transition: 0.3s;
}
button{
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
}
header{
    width: 72%;
    height: 5%;
    background-color: #ebebeb;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 5vh;
}
.select{
    height: 5%;  
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.pet{ 
    margin-right: 3.2vw;
    margin-left: 3.2vw;
    width: 28px;
    height: 28px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.pig{
    display: none;
}
.dog{
    display: none;
}
.penguin{
    display: none;
}
.duck{
    display: none;
}
.error_overflow{
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    font-family: 'Montserrat', serif;
    font-size: 12px;
    bottom: 0;
    margin: 0 auto;
    margin-top: 12px;
    text-align: center;
    width: 30%;
    border-radius: 16px;
    color: #4b4a4a;
    font-weight: 400;
}
.score{
    font-family: 'Montserrat', serif;
    font-size: 12px;
    color: #5E5E5E;
    background-color: #D9D9D9;
    border-radius: 16px;
    text-align: center;
    position: relative;
    left: 70%;
    margin-top: 1.9vh;
    height: 1.8vh;
    min-height: 15px;
    display: inline;
    padding: 0 3vw 0 3vw;
}
.selected_pet{
    margin: 0 auto;
    margin-top: 14vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 51vw;
}
.selected_pet__img{
    height: 23.5vw;
    width: 23.5vw;
}
.selected_pet__name{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}
.pig_pet{
    display: none;
    transition: 0.2s;
}
.dog_pet{
    display: none;
    transition: 0.2s;
}
.penguin_pet{
    display: none;
    transition: 0.2s;
}
.duck_pet{
    display: none;
    transition: 0.2s;
}
.pet_status{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 76.923vw;
    margin: 0 auto;
    align-items: start;
}
.status_text{
    padding: 2px 0px 2px 6px;
    font-family: 'Montserrat', serif;
    font-size: 8;
    font-weight: medium;
    color: white;
    margin: 0;
}
.stat_bar{
    border-radius: 20px;
    margin-bottom: 15px;
}
.food{
    background-color: rgb(246, 197, 128);
}
.water{
    background-color: rgb(166, 215, 243);
}
.health{
    background-color: rgb(136, 243, 146);
}
.stat_bar__fill{
    height: 20px;
    border-radius: 8px;
}
#food{
    transition: 0.3s;
    background-color: rgb(252, 147, 0);
    width: 2%;
    border-radius: 20px;
}
#water{
    transition: 0.3s;
    background-color: rgb(59, 175, 242);
    width: 2%;
    border-radius: 20px;
}
#health{
    transition: 0.3s;
    background-color: rgb(11, 219, 30);
    width: 2%;
    border-radius: 20px;
}
.version{
    font-family: 'Montserrat', serif;
    font-size: 10px;
    color: #4d4d4d;
    text-align: start;
    display: inline;
    margin: 0;
}
.buttons{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 67vw;
}
.buttons button{
    font-family: 'Montserrat', serif;
    font-size: 12px;
    padding: 1vh 5vw;
    border-radius: 10px;
    color: white;
    
}
.feed{
    background-color: #FC9301;
}
.drink{
    background-color: #3BAFF2;
}
.heal{
    background-color: #31F543;
}