.add{
    width: 20px;
    height: 20px;   
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2vw;
    border-radius: 15px;
    transition: 0.3s;
}
.add:hover{
    background-color: #888888;
    transition: 0.3s;
}
button{
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
}
header{
    width: 72%;
    height: 5%;
    background-color: #ebebeb;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 5vh;
}
.select{
    height: 5%;  
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.pet{ 
    margin-right: 3.2vw;
    margin-left: 3.2vw;
    width: 28px;
    height: 28px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.pig{
    display: none;
}
.dog{
    display: none;
}
.penguin{
    display: none;
}
.duck{
    display: none;
}
.error_message{
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    font-family: 'Montserrat', serif;
    font-size: 12px;
    bottom: 0;
    margin: 0 auto;
    margin-top: 12px;
    text-align: center;
    width: 30%;
    border-radius: 16px;
    color: #4b4a4a;
    font-weight: 400;
}
.score{
    font-family: 'Montserrat', serif;
    font-size: 12px;
    color: #5E5E5E;
    background-color: #D9D9D9;
    border-radius: 16px;
    width: 22%;
    text-align: center;
    position: relative;
    left: 75%;
    margin-top: 1.9vh;
    height: 1.8vh;
    min-height: 15px;
}